body {
  background-color: black;
  margin: 0;
  text-align: center;

}

p {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4rem;
}
td {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4rem;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  font-size: 2.0rem;
  background: #574BCD;
background: -webkit-linear-gradient(to right, #574BCD 0%, #2999AD 50%, #41E975 100%);
background: -moz-linear-gradient(to right, #574BCD 0%, #2999AD 50%, #41E975 100%);
background: linear-gradient(to right, #574BCD 0%, #2999AD 50%, #41E975 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}



h1 {
  font-family: "Dosis", sans-serif;
  margin: 0;
  background: #574BCD;
background: -webkit-linear-gradient(to right, #574BCD 0%, #2999AD 50%, #41E975 100%);
background: -moz-linear-gradient(to right, #574BCD 0%, #2999AD 50%, #41E975 100%);
background: linear-gradient(to right, #574BCD 0%, #2999AD 50%, #41E975 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

h4 {
  margin: 0;
  color: white;
  font-family: 'Oxygen', sans-serif;

}

h3 {

  font-family: 'Oxygen', sans-serif;
  margin: 0;
  font-size: 2.0rem;
  background: #879AF2;
background: -webkit-linear-gradient(to top left, #879AF2 0%, #D3208B 30%, #FDA000 100%);
background: -moz-linear-gradient(to top left, #879AF2 0%, #D3208B 30%, #FDA000 100%);
background: linear-gradient(to top left, #879AF2 0%, #D3208B 30%, #FDA000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.my {
  width: 420px;
  float: left;
  padding-top: 60px;


}



.head{
  font-size: 3.7rem;
  margin-bottom: 0;
  padding-top: 250px



}

.container {
  padding-top: 50px;
  margin: 0 auto 360px auto;
  height: 100%;
  width: 80%;

}

.quote {
  margin: 0 auto;
  width: 60%;
}

.quote2 {
  margin: 0 auto;
  width: 60%;
}


.skills {
  padding-top: 20px;
}


.code-img {
  width: 150px;
  margin-right: 30px;
  margin-top: 150px;
  margin-bottom: 100px;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  background: rgb(135,154,242);
background: linear-gradient(90deg, rgba(135,154,242,1) 0%, rgba(211,32,139,1) 35%, rgba(253,160,0,1) 100%);

}

.skill-row {
  width: 50%;
  margin: 20px auto 80px auto;
  text-align: left;
  line-height: 2;


}

.getIntouch {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pre-contact{
  padding-top: 20px;
}


.Pc {
  font-size: 1rem;
}


.bottom-container {
  margin-top: 30px;
}

.icon {
  padding-left: 10px;
  padding-right: 10px;
  width: 30px;
}
.skillw {
  padding-bottom: 4px;

}